@use "../abstracts" as *;

.cta-copy {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__heading {
        text-align: center;
    }

    &__subheading {
        max-width: 60ch;
        text-align: center;
    }
}

.cta-img {
    max-width: 610px;
    margin: auto;
}