---
const { buttonText = "", heading = "", link = {} } = Astro.props;

import Link from "./Link.astro";
---

<style>
    .mi-clase {
        background-color: black;
        padding: 14px;
        color: white;
    }
</style>

<div>
    <h1>{heading}</h1>

    <Link 
        class="mi-clase"
        link={{  // Pass the object directly as 'link' prop
            ...link.openInNewTab ? { target: "_blank", rel: "noopener noreferrer" } : {},
            linkType: link.linkType || "page", // Default to "page" if not provided
            pageSlug: link.pageSlug,
            postSlug: link.postSlug,
            href: link.href, // Include href if needed
        }}
    >
        {buttonText || "Enlace"}
    </Link>
</div>