---
const { buttonText = "", heading = "", link = {} } = Astro.props;

import Link from "./Link.astro";
---

<style>
    .mi-clase {
        background-color: black;
        padding: 14px;
        color: white;
    }
</style>

<div>
    <h1>{heading}</h1>

    <Link
        link={{
            linkType: link?.linkType,
            href: link?.href,
            pageSlug: link?.page,
            postSlug: link?.post,
            openInNewTab: link?.openInNewTab,
        }}
        class="mi-clase"
    >
        {buttonText && buttonText}
    </Link>
</div>