---
const {
    heading = "",
    subheading = "",
    buttonText = "",
    imagenUrl = "",
    link = {},
} = Astro.props;

import Link from "./Link.astro";

// crear la imagen a un objeto (asi lo tengo en mi query)
const image = typeof imagenUrl === "string" 
    ? { url: imagenUrl, alt: Astro.props.image?.alt || "Imagen sin descripción" } 
    : imagenUrl;
---

<style>
    .img-wrapper {
        width: fit-content;
        max-width: 610px;

        .imagen {
            width: 100%;
        }
    }
</style>

<div class="container section flow">
    <header>
        <h1 class="heading-1">{heading}</h1>
        <p class="fs-600">{subheading}</p>
    </header>

    <div class="img-wrapper">
        {image?.url && (
            <img
                class="imagen"
                src={image.url}
                alt={image.alt || "Imagen"}
            />
        )}
    </div>

    <Link
        link={{
            linkType: link?.linkType,
            href: link?.href,
            pageSlug: link?.page,
            postSlug: link?.post,
            openInNewTab: link?.openInNewTab,
        }}
        class="button"
        data-type="accent"
    >
        {buttonText && buttonText}
    </Link>
</div>