---
import PortableText from "../PortableText.astro";

const {
    heading = "",
    subheading = "",
    content = [],
} = Astro.props;
---

<div>
    <h1>{heading && heading}</h1>
    <p>{subheading && subheading}</p>
    
    {content && content.length > 0 ? (
        <div>
            <PortableText portableText={content} />
        </div>
    ) : null}
</div>