---
import PortableText from "../PortableText.astro";

const {
    heading = "",
    subheading = "",
    content = [],
} = Astro.props;
---

<section class="info-section">
    <div class="container section flow">
        <header>
            <h1 class="heading-2">{heading && heading}</h1>
            <p class="fs-500 fw-bold">{subheading && subheading}</p>
        </header>
        
        {content && content.length > 0 ? (
            <div class="fs-500">
                <PortableText portableText={content} />
            </div>
        ) : null}
    </div>
</section>