---
import type { Link, LinkAttributes } from "@front/types";
import { linkResolver } from "@front/lib/linkResolver";

const { link, class: className, ...rest } = Astro.props;
const url = linkResolver(link);

const linkAttributes: LinkAttributes = {
  href: url || '#',
  class: className,
  ...rest,
  ...(link.openInNewTab ? { target: "_blank", rel: "noopener noreferrer" } : {}),
};

// elimina propiedades undefined o null
Object.keys(linkAttributes).forEach(key => 
  (linkAttributes[key] === undefined || linkAttributes[key] === null) && delete linkAttributes[key]
);
---

<a {...linkAttributes}>
  <slot />
</a>

