---
import { loadQuery } from '@back/lib/load-query';
import { pageIndexQuery } from '@front/lib/queries';
import Layout from '@front/layouts/Layout.astro';
import type { PageSlugProps, BlockBase } from "@front/types";

const { serverDraftMode, visualEditingEnabled } = Astro.props;

const { data: pageIndex } = await loadQuery<PageSlugProps>({
	query: pageIndexQuery,
	params: {},
	perspective: serverDraftMode ? "previewDrafts" : "published",
  	visualEditingEnabled
});

console.log(JSON.stringify(pageIndex, null, 2))
---

<Layout>
	{pageIndex?.pageBuilder?.length > 0 && (
		<>
			{pageIndex.pageBuilder.map((block: Block) => {
				return <p>Bloque: {block._type}</p>; // Prueba simple
			})}
		</>
	)}
</Layout>
