---
import Link from "@front/components/block/Link.astro";

const { navigation } = Astro.props;
const footerData = navigation && navigation.length > 0 && navigation[0].footer ? navigation[0].footer : [];
---

<footer>
    {footerData.map(footerItem => (
        <>
            {footerItem.logoUrl && (
                <img src={footerItem.logoUrl} alt="Logo">
            )}

            {footerItem.linkGroups?.map(linkGroup => (
                <div>
                    {/* Título para cada grupo de enlaces */}
                    <h3>{linkGroup.groupTitle}</h3>
                    <ul>
                        {linkGroup.links?.map(link => (
                            <li>
                                <Link
                                    link={{
                                        linkType: link.link.linkType,
                                        href: link.link.href,
                                        pageSlug: link.link.pageSlug,
                                        postSlug: link.link.postSlug,
                                        openInNewTab: link.link.openInNewTab,
                                    }}
                                >
                                    {link.name}
                                </Link>
                            </li>
                        ))}
                    </ul>
                </div>
            ))}
        </>
    ))}
</footer>