---
import Link from "@front/components/block/Link.astro";
import type { NavbarItem } from "@front/types";

const { navigation = [] } = Astro.props;

const navbarData: NavbarItem[] = navigation && navigation.length > 0 && navigation[0].navbar ? navigation[0].navbar : [];
---

<nav>
    {navbarData.map((item) => (
        <Link
            link={{
                linkType: "page",
                pageSlug: item.link?.slug,
            }}
        >
            {item.link.name}
        </Link>
    ))}
</nav>