---
import { VisualEditing } from "@sanity/astro/visual-editing";
import { loadQuery } from "@back/lib/load-query";
import { getDraftModeInfo } from "@front/lib/draftMode";
import { navigationQuery } from "@front/lib/queries";
import Head from "@front/components/Head.astro";
import Navbar from "@front/components/Navbar.astro";
import Footer from "@front/components/Footer.astro";
import '@front/styles/main.scss';

const { serverDraftMode, visualEditingEnabled }
	= getDraftModeInfo(Astro.request);

const { data: navigation  } = await loadQuery({
	query: navigationQuery,
	params: {},
	perspective: serverDraftMode ? "previewDrafts" : "published",
  	visualEditingEnabled
});
---

<!doctype html>
<html lang="en">
	<Head/>

	<body>
		<Navbar navigation={navigation}/>
		<slot />
		<VisualEditing enabled={visualEditingEnabled} />
		
		<Footer navigation={navigation}/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
